{% extends "layout_auth.html" %}
{% block content %}
<div id="vue-target-profile" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <section class="section">
        <nav class="navbar is-danger">
            <header><h1>Create Your Profile</h1></header>
        </nav>
        <form method="POST" action="create_profile" id="create_profile_form" enctype="multipart/form-data">
            <!--Name Field -->
                <div class="field">
                    <label for="name" class="label">Name</label>
                    <div class="control">
                        <input type="text" id="input_name" name="user_name" class="input">
                    </div>
                </div>
                <!--Gender Identity Auto-Complete Field -->
                <div class="field">
                 <label for="gender_identity" class="label">I identify my gender as...</label>
              <input list="gender_identity_list"  name="gender_identity" id="browser"
                        v-model="gender_list">
              <datalist id="gender_identity_list">
                  <option v-for="gender in gender_list">{{ gender }}</option>
              </datalist>
                </div>
                <!--Phone Number Field -->
                <div class="field">
                    <label for="phone_number" class="label">Phone Number</label>
                    <div class="control">
                        <input type="tel" id="input_phone_number" name="phone_number"
                               class="input">
                    </div>
                </div>
                <!--City Field -->
                <div class="field">
                    <label for="city" class="label">City</label>
                    <div class="control">
                        <input type="text" id="input_city" name="city" class="input">
                    </div>
                </div>
                <!--Trip Sitter Field -->
                <div class="field">
                    <label for="tripsitter" class="label">Are you a trained TripSitter?</label>
                    <div class="control">
                        <input type="checkbox" id="input_tripsitter" name="tripsitter" class="checkbox">
                    </div>
                </div>
                <!--Safety Contact Name Field -->
                <div class="field">
                    <label for="safety_contact_name" class="label">Safety Contact Name</label>
                    <div class="control">
                        <input type="text" id="input_safety_contact_name"
                               name="safety_contact_name" class="input">
                    </div>
                </div>
                <!--Safety Contact Phone Number Field -->
                <div class="field">
                    <label for="safety_contact_phone_number" class="label">Safety Contact Phone Number</label>
                    <div class="control">
                        <input type="text" id="input_safety_contact_phone_number" name="safety_contact_phone_number" class="input">
                    </div>
                </div>
                <div v-if="profile_updated">
                    <div class="notification">
                        <button @click="toggle_profile_updated" class="delete"></button>
                        Profile Updated
                    </div>
                </div>
                <!--Submit Button Field -->
                <div class="field">
                    <div class="control">
                        <button @click="toggle_profile_updated" @click="update_profile"
                                type="submit" value="Submit" class="button2">Submit
                        </button>
                    </div>
                </div>

             <div v-for="profile in profile_fields">
            </div>
        </form>
    </section>
</div>
{% endblock %}
<script>
    let create_profile_page = "[[=XML(create_profile_page)]]";
    let fetch_tags = "[[=XML(fetch_tags)]]";
</script>
 <script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js">
    </script>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="../static/js/home_page.js"></script>
<script  src="../static/js/vue.js"  ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script src="../static/js/utils.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
