<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div id="vue-target">
    <nav class="navbar is-danger">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <!-- left dropdown sidenavbar -->

                        <span class="button" onclick="openNav()"><i class="fa fa-bars fa-fw"></i></span>

                    <div id="mySidenav" class="sidenav">
                        <a onclick="closeNav()" href="javascript:void(0)" class="closebtn">&times;</a>
                        <div class="navbar-item">
                            <a href="home_page">Home Cocaine Page</a>
                        </div>
                        <div class="navbar-item">
                            <a href="submit_trip_report_page">New Trip Report</a>
                        </div>
                        <div class="navbar-item">
                            <a href="journey_safe_page">Journey Safe</a>
                        </div>
                        <div class="navbar-item">
                            <a href="map_page">Map</a>
                        </div>
                        <!--<div class="navbar-item">
                            <a href="[[=URL('books_movies')]]">Books & Movies</a>
                        </div>-->
                        <div class="navbar-item">
                            <a href="create_profile_page">My Profile</a>
                        </div>
                        <div class="navbar-item">
                            <li class="dropdown-btn">For TripSitters
                                <i class="fa fa-caret-down"></i>
                                <div class="dropdown-content">
                                    <a>Tripsit for Others</a>
                                    <a>Become a Tripsitter</a>
                                </div>
                            </li>
                        </div>

                        <div class="navbar-item">
                            <li class="dropdown-btn">For Journeyers
                                <i class="fa fa-caret-down"></i>
                                <div class="dropdown-content">
                                    <a href ="local_tripsitters" >Find a Tripsitter</a>
                                    <a>Journey Alone</a>
                                </div>
                            </li>
                        </div>
                        <div class="navbar-item">
                            <a href="need_help">Find Help</a>
                        </div>
                        <div class="navbar-item">
                            <a href="auth/logout">Sign out</a>
                        </div>
                    </div>

                </div>
                <div class="level-item">
                    <div class="navbar-header">
                        LSDWORLD: The Lifestyle App for Psychonauts
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- beginning of HTML inserted by extending template -->
    <!--[[include]]-->
</div>
</head>
<body>

</body>
</html>