<!--[[extend 'layout_auth.html']]-->
<head>
     <meta name="viewport" http-equiv="Cache-control" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;
    base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>

    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/elements.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">
</head>
<div id="vue-target">
    <nav class="navbar is-danger">
        <div class="level is-mobile">
            <div class="level-left">
                <div class="level-item">
                    <!-- left dropdown sidenavbar -->

                        <span class="button" onclick="openNav()"><i class="fa fa-bars fa-fw"></i></span>

                    <div id="mySidenav" class="sidenav">
                        <a onclick="closeNav()" href="javascript:void(0)" class="closebtn">&times;</a>
                        <div class="navbar-item">
                            <a href="home_page">Home Page</a>
                        </div>
                        <div class="navbar-item">
                            <a href="submit_trip_report_page">New Trip Report</a>
                        </div>
                        <div class="navbar-item">
                            <a href="journey_safe_page">Journey Safe</a>
                        </div>
                        <div class="navbar-item">
                            <a href="map_page">Map</a>
                        </div>
                        <!--<div class="navbar-item">
                            <a href="[[=URL('books_movies')]]">Books & Movies</a>
                        </div>-->
                        <div class="navbar-item">
                            <a href="create_profile_page">My Profile</a>
                        </div>
                        <div class="navbar-item">
                            <li class="dropdown-btn">For TripSitters
                                <i class="fa fa-caret-down"></i>
                                <div class="dropdown-content">
                                    <a>Tripsit for Others</a>
                                    <a>Become a Tripsitter</a>
                                </div>
                            </li>
                        </div>

                        <div class="navbar-item">
                            <li class="dropdown-btn">For Journeyers
                                <i class="fa fa-caret-down"></i>
                                <div class="dropdown-content">
                                    <a href ="local_tripsitters" >Find a Tripsitter</a>
                                    <a>Journey Alone</a>
                                </div>
                            </li>
                        </div>
                        <div class="navbar-item">
                            <a href="need_help">Find Help</a>
                        </div>
                        <div class="navbar-item">
                            <a href="auth/logout">Sign out</a>
                        </div>
                    </div>

                </div>
                <div class="level-item">
                    <div class="navbar-header">
                        LSDWORLD: The Lifestyle App for Psychonauts
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- beginning of HTML inserted by extending template -->
    <!--[[include]]-->
</div>
<div id="vue-target" xmlns:v-on="http://www.w3.org/1999/xhtml">
<section class="section">
    <div v-if="!exploring_safely">
        <h1 class="title">Your Trip Reports</h1>
    </div>
        <div v-if="!exploring_safely">
            <button v-on:click="toggle_trip_reports_showing" class="button2 is-danger">
                <span> <i class="fa fa-plus fa-fw"></i></span> <span>View Trip Reports</span>
            </button>


{% for report in fetched_trip_reports %}
{#        <div v-for="report in trip_reports">#}
          <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <!--Title Display Button-->
                    <button class="button is-danger">{{ report.title}}</button>
                    <!--Substance Name Display Button-->
                    <button class="button is-danger">{{ report.substance_id}}</button>
                    <!--VIEW REPORT BUTTON-->
                    <button @click="toggle_this_report_showing(report.id)"
                            class="button is-danger">View Report</button>
                    <!--EDIT REPORT BUTTON-->
                    <button @click="toggle_edit_report(report.id)"
                            class="button is-danger">Edit Report</button>
                    <!--DELETE REPORT BUTTON-->
                    <a class="button is-danger" @click="delete_report(report.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <br>
                <!--Report Content Display Box -->
                <div v-if="this_report_showing.includes(report.id)">
                    <div class="box">
                        <div>{{ report.report_content }}</div>
                        <!-- report.report_content -->
                    </div>
                     <!--Content Tags -->
                    <nav class="level is-mobile">
                      <div v-for="entry in tags" v-if="entry.id === report.id">
                        <div class="level-left">
                          <div v-for="tag in entry.tags">
                            <div class="level-item">
                              <div class="psychological_tag">
                              {{ tag }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                </div>

                <!--Edit Report Box -->
                <div v-if="edit_this_report === report.id">
                    <div class="box">
                        <textarea v-model="report.report_content" class="textarea is-danger"></textarea>
                    </div>

                    <!--SAVE EDIT BUTTON -->
                    <div v-if="edit_this_report === report.id">
                        <!--This line of code saves edit and hides the edit box -->
                        <button @click="save_edited_report(report.id)"
                                class="button is-link">
                            <a href="[[=URL('index')]]"></a>
                            Save
                        <i class="fas fa-check-square"></i></button>
                    </div>

                    <!--CANCEL EDIT BUTTON -->
                    <div v-if="edit_this_report === report.id">
                        <button class="button is-danger-red">Cancel
                        <i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>

{#    <div v-if="trip_reports_showing && !exploring_safely">#}
        {% for report in fetched_trip_reports %}
{#        <div v-for="report in trip_reports">#}
          <div class="tile is-ancestor">
            <div class="tile is-parent is-vertical">
                <div class="tile is-child">
                    <!--Title Display Button-->
                    <button class="button is-danger">{{ fetched_trip_reports[0] }}</button>
                    <!--Substance Name Display Button-->
                    <button class="button is-danger">{{ report.substance_id }}</button>
                    <!--VIEW REPORT BUTTON-->
                    <button @click="toggle_this_report_showing(report.id)"
                            class="button is-danger">View Report</button>
                    <!--EDIT REPORT BUTTON-->
                    <button @click="toggle_edit_report(report.id)"
                            class="button is-danger">Edit Report</button>
                    <!--DELETE REPORT BUTTON-->
                    <a class="button is-danger" @click="delete_report(report.id)">
                        <i class="fa fa-trash" aria-hidden="true"></i></a>
                </div>
                <br>
                <!--Report Content Display Box -->
                <div v-if="this_report_showing.includes(report.id)">
                    <div class="box">
                        <div>{{ report }}</div>
                        <!-- report.report_content -->
                    </div>
                     <!--Content Tags -->
                    <nav class="level is-mobile">
                      <div v-for="entry in tags" v-if="entry.id === report.id">
                        <div class="level-left">
                          <div v-for="tag in entry.tags">
                            <div class="level-item">
                              <div class="psychological_tag">
                              {{ tag }}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                </div>

                <!--Edit Report Box -->
                <div v-if="edit_this_report === report.id">
                    <div class="box">
                        <textarea v-model="report.report_content" class="textarea is-danger"></textarea>
                    </div>

                    <!--SAVE EDIT BUTTON -->
                    <div v-if="edit_this_report === report.id">
                        <!--This line of code saves edit and hides the edit box -->
                        <button @click="save_edited_report(report.id)"
                                class="button is-link">
                            <a href="[[=URL('index')]]"></a>
                            Save
                        <i class="fas fa-check-square"></i></button>
                    </div>

                    <!--CANCEL EDIT BUTTON -->
                    <div v-if="edit_this_report === report.id">
                        <button class="button is-danger-red">Cancel
                        <i class="fas fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
{#        </div>#}

{#    </div>#}
</section>
</div>


<script>
    let user_email = "[[=XML(user_email)]]";
    let fetch_trip_reports = "[[=XML(fetch_trip_reports)]]";
    let submit_trip_report_url = "[[=XML(submit_trip_report_url)]]";
    let delete_report = "[[=XML(delete_report)]]";
    let fetch_substance_table = "[[=XML(fetch_substance_table)]]";
    let update_report = "[[=XML(update_report)]]";
    let fetch_profile_fields = "[[=XML(fetch_profile_fields)]]";
    let fetch_tags = "[[=XML(fetch_tags)]]";
    let map_page = "[[=XML(map_page)]]";
    let create_profile_page = "[[=XML(create_profile_page)]]";
</script>
<script src="../static/js/utils.js"></script>
<script src=
"https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js">
    </script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script  src="../static/js/vue.js"  ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../static/js/home_page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
