<head>
    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/elements.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">
</head>
<div id="vue-target" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <section class="section">
        <nav class="navbar is-danger">
            <header><h1>Find Tripsitters</h1></header>
        </nav>

        <div class="tabs is-deeppink is-centered is-fullwidth">
            <ul>
                <li>
                    <a>
        <span class="icon is-small">
            <i class="fas fa-hiking" aria-hidden="true"></i>
        </span><span>Locations</span>
                    </a>
                </li>
                <li><a v-on:click="toggle_show_tripsitters">
        <span class="icon is-small">
            <i class="fas fa-campground" aria-hidden="true" ></i>
        </span>
                    <span>Tripsitters</span></a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small">
                            <i class="far fa-sun"></i>
                        </span>
                        <span>Weather</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <p>
                [[for user in local_tripsitters:]]
                        User [[=user.name]] is located at [[=user.city]]
                          [[pass]]
            </p>
        </div>
    </section>
</div>
<div>

</div>


[[block page_scripts]]
<script>
        let fetch_profile_fields = "[[=XML(fetch_profile_fields)]]";
</script>
<script src="../static/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
[[end]]
