{% extends "layout_auth.html"  %}

{% block content %}
<div id="vue-target" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"  >
    <section class="section">
        <nav class="navbar is-danger">
            <header><h1>Weather Movies Books</h1></header>
        </nav>

        <div class="tabs is-deeppink is-centered is-fullwidth">
            <ul>
                <li>
                    <a>
        <span class="icon is-small">
            <i class="fas fa-hiking" aria-hidden="true"></i>
        </span><span>Locations</span>
                    </a>
                </li>
                <li><a>
        <span class="icon is-small">
            <i class="fas fa-campground" aria-hidden="true" ></i>
        </span>
                    <span>Tripsitters</span></a>
                </li>
                <li>
                    <a>
                        <span class="icon is-small">
                            <i class="far fa-sun"></i>
                        </span>
                        <span>Weather</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="content">
            <!-- <p>
                [[=weather_string]]
            </p> -->
        </div>
    </section>
</div>
<div>
	        <!--src= "/LSDWorld_2/map_cont.txt";-->
    <iframe 
		src= "https://www.google.com/maps/embed/v1/place?key=AIzaSyAjojIrO3YZ7axPaSOxghK3M2QN8ebof98&q=Eiffel+Tower,Paris+France";
        height="100%";
        width= "100%";
    >
    </iframe>
</div>


<script src="../static/js/utils.js"></script>
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBz6hol_AGelDTzZg9nNrm5YEVQz4vUIJE&callback=initMap">
</script> -->
{% endblock %}

