<!--[[extend 'layout_auth.html']]-->
<head>
     <meta name="viewport" http-equiv="Cache-control" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="data:image/x-icon;
    base64,AAABAAEAAQEAAAEAIAAwAAAAFgAAACgAAAABAAAAAgAAAAEAIAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAPAAAAAA=="/>

    <link rel="stylesheet" href="../static/css/bulma.css">
    <link rel="stylesheet" href="../static/css/elements.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.0/css/all.css">
</head>
<div id="vue-target" xmlns:v-on="http://www.w3.org/1999/xhtml"
     xmlns:v-bind="http://www.w3.org/1999/xhtml">

        <section class="section">
        <nav class="navbar is-danger">
            <header><h1>Before you begin your journey...</h1></header>
        </nav>
            <div class="container">
                    <div v-if="need_help">
                      <div class="notification">
                        <button @click="toggle_need_help" class="delete"></button>
                          [[for contact in current_user_row:]]
                        Message Sent to [[=contact.safety_contact_name]] at [[=contact.safety_contact_phone_number]]
                          [[pass]]
                      </div>
                    </div>
                  <button @click="toggle_need_help" class="button_help">
                      <a class="help_button_text">HELP</a>
                  </button>
                </div>
                <button @click="toggle_exploring_safely" class="delete is-large small_circle"></button>
        </section>
</div>


[[block page_scripts]]
<script src="../static/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
[[end]]